{% extends "base.html.twig" %}

{% block title %}Profil{% endblock %}

{% block header %}
{{ parent() }}
{% include "profile/_header.html.twig" %}
{% endblock %}

{% block body %}
<div class="main-content">
    <section class="pt-5 pt-lg-0">
        <div class="container">
            <div class="row">

                {% include "profile/_left_column.html.twig"%}

                <div class="col-lg-8 mt-lg-5">
      
                    {% block content %}{% endblock %}
                    
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
{% endblock %}