/* ====================================================== */
/* ======================= GENERAL ====================== */
/* ====================================================== */

.tinytext {
    font-size: 12px;
    font-weight: 300;
}

.fs-12 {
    font-size: 12px;
}

.fs-14 {
    font-size: 14px;
}

.fs-16 {
    font-size: 16px;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}

.fs-22 {
    font-size: 22px;
}

.fs-24 {
    font-size: 24px;
}

.txt-black {
    color: #333333;
}

.txt-primary {
    color: #e97b40;
}

/* ====================================================== */
/* ======================= NAVBAR ======================= */
/* ====================================================== */

#navbar-main {
    position: absolute !important;
    width: 100% !important;
}

#navbar-main .dropdown-menu {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
        0 1px 2px rgba(0, 0, 0, 0.24);
}

#navbar-main .nav-link img {
    height: 50px;
}

.nav {
    padding-right: 10px;
}


/* Override of the webkit autofill css rules */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #8492a6 !important;
    font-family: Nunito, sans-serif;
}


/* ====================================================== */
/* ======================== FORM ======================== */
/* ====================================================== */

input[type="text"],
input[type="password"],
input[type="email"] {
    padding-left: 10px !important;
}

/* Checkbox */
.form-check input[type="checkbox"]+label.custom-control-label::after {
    color: #ffffff;
    position: absolute;
    left: -1.48rem;
    display: block;
    width: 1rem;
    height: 1rem;
    content: '';
    background: no-repeat 50% / 50% 50%;
    cursor: pointer;
    transition: background-color .15s ease-in-out,
        border-color .15s ease-in-out,
        box-shadow .15s ease-in-out;
}

input[type="radio"]+label.custom-control-label::after {
    top: 0.45rem;
}

input[type=radio] {
    opacity: 0;
}

.custom-control-label {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
    cursor: pointer;
}

.form-check input[type="checkbox"]:checked+label:after {
    content: '✔';
    font-size: 0.6rem;
    background-image: unset !important;
}

.custom-control-label::before {
    border-radius: .25rem;
    top: 0.45rem !important;
}

.form-check {
    padding-left: 28px !important;
}

/* !Checkbox */

.col-form-label {
    padding: 0 0 12px 0 !important;
}

.custom-file-label {
    font-size: 1rem;
}

div.vich-image img {
    width: 100%;
}

#navbar-main .dropdown-menu {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
        0 1px 2px rgba(0, 0, 0, 0.24);
}

div[data-notify="container"] span {
    margin-right: 5px;
}

button#reinitialiser {
    margin: 0 !important;
    padding-left: 12px;
}

.new-comment-form .btn {
    padding-left: 10px;
    padding-right: 10px;
}

.show-password {
    cursor: pointer;
}



/* ====================================================== */
/* ======================== DOGS ======================== */
/* ====================================================== */


.dog-card i {
    color: #e97b40;
}




/* ====================================================== */
/* ====================== SITTINGS ====================== */
/* ====================================================== */

.media-comment-bubble {
    padding-bottom: 5px;
}

/* Affichage différent des commentaires du créateur d'une demande */
.media-comment-bubble.left-top.bubble-right:after {
    left: unset;
    right: -16px;
}

.media-comment .helper-star {
    color: #ffff00;
}

span#selectHelperForm button {
    text-decoration: underline;
    font-size: 14px;
    font-weight: 600;
}

.state-details {
    background-color: #eff2f7;
    border-radius: 3px;
}

.confirm-form #confirm_sitting_request_no:hover {
    background-color: #e97b40;
    color: #fff;
}





/* ====================================================== */
/* ======================= ACCOUNT ====================== */
/* ====================================================== */

/* .header-account-page {
    height: unset !important;
    padding-top: 5em !important;
} */

@media screen and (max-width : 768px) {
    .account-body .sitting-times {
        text-align: center !important;
        margin: 0 auto !important;
        padding-left: 15px !important;
    }

    .account-body .sitting-times i {
        margin-left: .5rem;
    }

}


/* ====================================================== */
/* ==================== MEDIA QUERIES =================== */
/* ====================================================== */


@media (max-width: 576px) {
    .sitting-card .card-body {
        padding: 1em;
    }

    .sitting-card .dog-pictures {
        margin: 0 0 1em 0 !important;
    }
}


@media (min-width: 576px) {
    .new-comment-form .btn {
        padding-left: 28px;
        padding-right: 28px;
    }
}

@media(max-width:767px) {

    .header-account-page {
        padding-top: 60px !important;
    }
}


@media (min-width: 768px) {

    .header-account-page {
        height: 250px;
    }
}


@media(min-width:992px) {}


@media(min-width:1200px) {}