{% extends 'account/index.html.twig' %}

{% block title %}Mes commentaires{% endblock %}

{% block content %}

{% for sitting in sittings if sitting.user.id != app.user.id %}

{% include "sitting/sittings.html.twig" %}

{% else %}
<div class="jumbotron">
    <p class="lead">Vous ne participez à la discussion d'aucune demande active pour le moment.</p>
    <p class="txt-black">N'hésitez pas à proposer votre aide aux autres membres, ils vous rendront sûrement la pareille la prochaine fois !'</p>
    <a class="btn btn-primary" href="{{ path('search') }}" role="button">Liste des membres</a>
</div>
{% endfor %}


{% endblock %}

{% block javascripts %}
<script src="{{ asset('libs/autosize/autosize.min.js') }}"></script>
{{ parent() }}
{% endblock %}