<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}Dog Army{% endblock %}
    </title>
    <link rel="stylesheet" href="{{ asset('css/purpose.min.css') }}">
    <link rel="stylesheet" href="{{ asset('libs/font-awesome/font-awesome.min.css') }}">
    {% block stylesheets %}{% endblock %}
</head>

<body>
    {% block header %}
        {% include "partials/navbar.html.twig" %}
    {% endblock %}

    {% block body %}{% endblock %}

    {% block footer %}
        {% include "partials/footer.html.twig" %}
    {% endblock %}

    {% block javascripts %}
    {# jquery, bootstrap, popper, in-view and sticky-kit #}
    <script src="{{ asset('js/purpose.core.js') }}"></script>
    {# Purpose JS #}
    <script src="{{ asset('js/purpose.min.js') }}"></script>
    {% endblock %}
    
</body>

</html>