{% extends 'account/index.html.twig' %}

{% block title %}Edit Dog{% endblock %}

{% block content %}
    <h1>Edit Dog</h1>


    {{ include('dog/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
