{% extends 'account/index.html.twig' %}

{% block title %}Mon/Mes chien(s){% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('libs/fancybox/jquery.fancybox.min.css') }}">
{% endblock %}

{% block content %}


{% for dog in dogs %}

{% include "dog/dogs.html.twig" %}

{% else %}
<div class="jumbotron">
    <p class="lead">Ici, vous pouvez ajouter votre/vos chien(s) au site afin de demander aux autres membres de le(s) garder.</p>
    <a class="btn btn-primary" href="{{ path('dog_new') }}" role="button">Ajouter mon chien</a>
</div>
{% endfor %}


{% endblock %}

{% block javascripts %}
{{ parent () }}
<script src="{{ asset('libs/fancybox/jquery.fancybox.min.js') }}"></script>
    
{% endblock %}