{% extends 'account/index.html.twig' %}
{% form_theme form 'form/form_errors.html.twig' %}

{% block title %}Enregistrement de votre chien{% endblock %}

{% block content %}
<h1 class="pb-3">Enregistrement de votre chien</h1>

{% include "dog/_form.html.twig" %}

{% endblock %}

{% block javascripts %}
<script src="{{ asset('libs/autosize/autosize.min.js') }}"></script>
{{ parent() }}
{% endblock %}
