{% extends 'account/index.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block content %}
<section id="account">
     <div class="actions-toolbar py-2 mb-4">
         <h1 class="mb-1">Modifiez votre profil</h5>
         <p class="text-sm text-muted mb-0">Veuillez remplir votre profil afin de pouvoir utiliser pleinement Dog Army.</p>
     </div>

    {{ include('user/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

</section>
{% endblock %}
